//= require vendor/casper
//= require _syntax

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

body, .content, .site-wrapper {
  background-color: #373f48;
  color: #a9a9a9;
}

.no-cover.main-header {
  background-color: #4e5965;
}

.no-cover .page-title, .no-cover .page-description {
  color: #8c99a6;
}

h1, h2, h3, h4, h5, h6, .post-footer h4 a {
  color: #6d7790;
}

a {
  color: #708090;
}

// a:hover {
// 	color: red;
// }

code:not(pre>code) {
  color: #d0d0d0;
}

code, pre, hr, .post-footer, textarea, input {
  border-color: #2E2E2E;
}

textarea, input, code {
  background-color: #151515;
}

.author-bio, .read-next-story.no-cover p {
  color: #a9a9a9;
}

.subscribe-button, .read-next-story.no-cover .post:before {
  color: #fff !important;
  background-color: #2E2E2E;
}

.read-next-story.no-cover {
  background-color: #4e5965;
}

.post::after {
	background-color: #B4B4B4;
	border-color: #7D7D7D;
	box-shadow: #323232 0 0 0 5px;
}

.post {
	border-bottom: #515151 1px solid;
}

.menu-button:hover {
	background-color: #4d4d4d;
	color: #a9a9a9 !important;
	border-color: #BFC8CD !important;
}